@import './core/reset.scss';
@import './core/variables.scss';
@import './layouts/Landing.scss';
@import './layouts/Menu.scss';
@import './layouts/AboutMe.scss';
@import './layouts/Projects.scss';
@import './layouts/Project.scss';