.aboutMe {
    &__title {
        position: absolute;
        text-align: center;
        font-size: 50px;
        font-family: $font_title;
        padding-top: 40px;
        transform: translate(40vw, 10vh);
    }

    &__shape {
        position: absolute;
        height: 600px;
        width: 600px;
        z-index: -2;
        transform: translate(20vw, 0vh);
    }

    &__image {
        position: absolute;
        height: 300px;
        width: 200px;
        border-radius: 100px;
        z-index: -1;
        transform: translate(40vw, 25vh);
    }

    &__text {
        text-align: justify;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 600px;
        font-family: $font_text;
        font-size: 18px;
        line-height: 25px;
    }
}