.aboutMe {
    &__title {
        position: absolute;
        text-align: center;
        font-size: 30px;
        font-family: $font_title;
        padding-top: 40px;
        transform: translate(40vw, 10vh);
        @media (min-width: $breakpoint-tablet) {
            font-size: 50px;
        }
    }

    &__shape {
        position: absolute;
        height: 300px;
        width: 300px;
        z-index: -2;
        transform: translate(10vw, 10vh);

        @media (min-width: $breakpoint-tablet) {
            height: 600px;
            width: 600px;
            transform: translate(20vw, 0vh);
        }
        @media (min-width: $breakpoint-monitor) {
            height: 600px;
            width: 600px;
            transform: translate(30vw, 0vh);
        }
    }

    &__image {
        position: absolute;
        height: 200px;
        border-radius: 100px;
        z-index: -1;
        transform: translate(40vw, 25vh);
        @media (min-width: $breakpoint-tablet) {
            height: 300px;
            width: 200px;
            transform: translate(40vw, 25vh);
        }
    }

    &__text {
        text-align: justify;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 400px;
        font-family: $font_text;
        font-size: 14px;
        line-height: 25px;
        @media (min-width: $breakpoint-tablet) {
            padding-top: 600px;
            padding-left: 150px;
            padding-right: 150px;
            font-size: 18px;
        }
    }
}