.contact {
    &__title {
        font-family: $font_title;
        text-align: center;
        font-size: 50px;
    }
    &__desc {
        font-family: $font_text;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 18px;
        padding-right: 60px;
        line-height: 25px;
    }
    &__rrss {
        font-family: $font_text;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
    }
    &__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__shape {
        position: absolute;
        transform: translate(15vw, 0vh) rotate(50deg);
        z-index: -1;
        width: 400px;
    }

    &__subtitle {
        padding-left: 250px;
        padding-top: 80px;
        font-family: $font_title;
        font-size: 60px;
        color: white;
        width: 450px;
    }
    &__section2 {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}