.contact {
    padding-top: 50px;
    margin-bottom: 30px;
    @media (min-width: $breakpoint-tablet) {
        padding-top: 100px;
        margin: 0 30px 30px 30px;
    }
    &__title {
        font-family: $font_title;
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
        @media (min-width: $breakpoint-tablet) {
            font-size: 50px;
            margin-bottom: 0px;
        }
    }
    &__desc {
        font-family: $font_text;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding-left: 25px;
        padding-right: 25px;
        line-height: 25px;
        text-align: center;
        @media (min-width: $breakpoint-tablet) {
            padding-right: 60px;
            padding-left: 0px;
            font-size: 18px;
        }
    }
    &__rrss {
        font-family: $font_text;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        text-align: center;
        @media (min-width: $breakpoint-tablet) {
            font-size: 18px;
        }
    }
    &__section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        @media (min-width: $breakpoint-tablet) {
            grid-template-columns: 1fr 1fr;
            padding-top: 50px;
        }
    }

    &__section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: beige;
    }
}