.contact {
    padding-top: 50px;
    @media (min-width: $breakpoint-tablet) {
        padding-top: 100px;
    }
    &__title {
        font-family: $font_title;
        text-align: center;
        font-size: 30px;
        @media (min-width: $breakpoint-tablet) {
            font-size: 50px;
        }
    }
    &__desc {
        font-family: $font_text;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 16px;
        padding-left: 25px;
        padding-right: 25px;
        line-height: 25px;
        text-align: center;
        @media (min-width: $breakpoint-tablet) {
            padding-right: 60px;
            padding-left: 0px;
            font-size: 18px;
        }
    }
    &__rrss {
        font-family: $font_text;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        text-align: center;
        @media (min-width: $breakpoint-tablet) {
            font-size: 18px;
        }
    }
    &__section {
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: $breakpoint-tablet) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__shape {
        position: absolute;
        transform: translate(0vw, 0vh) rotate(50deg);
        z-index: -1;
        width: 250px;

        @media (min-width: $breakpoint-tablet) {
            transform: translate(15vw, 0vh) rotate(50deg);
            width: 400px;
        }
    }

    &__subtitle {
        padding-left: 50px;
        padding-top: 80px;
        font-family: $font_title;
        font-size: 40px;
        color: white;
        width: 200px;
        @media (min-width: $breakpoint-tablet) {
            padding-left: 250px;
            width: 450px;
            font-size: 60px;
        }
        @media (min-width: $breakpoint-screen) {
            padding-left: 400px;
            width: 600px;
        }
    }
    &__section2 {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        @media (min-width: $breakpoint-tablet) {
            padding-top: 200px;
        }
    }
}