.footer {
    background-color: rgb(99, 109, 107);
    width: 100vw;
    height: 50px;
    font-family: $font_text;
    display: flex;
    justify-content: space-around;
    align-items: center;
}