.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

        &__name {
            font-family: $font_text;
            font-weight: 400;
            padding-bottom: 60px;
        }

        &__title {
            font-family: $font_title;
            font-size: 60px;
            color: white;
            -webkit-text-stroke: 1.5px black;
            margin-bottom: -25px;

            @media (min-width: $breakpoint-tablet) {
                font-size: 100px;
            }
            
            &--black{
                font-family: $font_title;
                font-size: 60px;
                margin-bottom: -25px;

                @media (min-width: $breakpoint-tablet) {
                    font-size: 100px;
                }
            }
        }

        &__image{
        
            &--1{
                position: absolute;
                transform: translate(-80vw, -40vh) rotate(-90deg);
                width: 300px;
                @media (min-width: $breakpoint-tablet) {
                    transform: translate(-45vw, -40vh) rotate(-90deg);
                }
                @media (min-width: $breakpoint-desktop) {
                    width: 500px;
                }
            }
            &--2 {
                position: absolute;
                transform: translate(-80vw, 30vh) rotate(50deg);
                width: 300px;
                @media (min-width: $breakpoint-tablet) {
                    transform: translate(-50vw, 25vh) rotate(50deg);
                }
                @media (min-width: $breakpoint-desktop) {
                    width: 500px;
                }
            }
            &--3 {
                position: absolute;
                transform: translate(70vw, 30vh) rotate(0deg);
                width: 300px;

                @media (min-width: $breakpoint-tablet) {
                    transform: translate(50vw, -5vh) rotate(0deg);
                }
                @media (min-width: $breakpoint-desktop) {
                    width: 500px;
                }
            }
        }

        &__link {
            text-decoration: none;
            color: black;
            height: 200px;
        }

}

.fa-arrow-down {
    padding-top: 75px;
    font-size: 50px;
}

.fa-arrow-down:hover {
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(50px);
    }
}