.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

        &__name {
            font-family: $font_text;
            font-weight: 400;
            padding-bottom: 75px;
        }

        &__title {
            font-family: $font_title;
            font-size: 100px;
            color: white;
            -webkit-text-stroke: 1.5px black;
            margin-bottom: -25px;
            
            &--black{
                font-family: $font_title;
                font-size: 100px;
                margin-bottom: -25px;
            }
        }

        &__image{
        
            &--1{
                position: absolute;
                transform: translate(-45vw, -40vh) rotate(-90deg);
            }
            &--2 {
                position: absolute;
                transform: translate(45vw, 55vh) rotate(-90deg);
            }
            &--3 {
                position: absolute;
                transform: translate(-50vw, 25vh) rotate(50deg);
            }
            &--4 {
                position: absolute;
                transform: translate(50vw, -15vh) rotate(0deg);
            }
        }

        &__link {
            text-decoration: none;
            color: black;
        }

}

.fa-arrow-down {
    padding-top: 75px;
    font-size: 50px;
}

.fa-arrow-down:hover {
    rotate: 360deg;
    transition: rotate 1s;
}