.menu {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
    }

    &__name {
        font-family: $font_title;
        font-size: 15px;
        text-decoration: none;
        color: white;
        @media (min-width: $breakpoint-tablet) {
            font-size: 30px;
        }
    }

    &__list {
        display: flex;
        gap: 10px;
        font-family: $font_text;
        font-size: 12px;
        @media (min-width: $breakpoint-tablet) {
            font-size: 20px;
        }
    }

    &__link {
        text-decoration: none;
        color: white;
    }

    &__image {
        position: absolute;
        height: 350px;
        width: 350px;
        transform: translate(-30vw, -5vh) rotate(50deg);
    }
}

.menu__link:hover{
    color: aquamarine;
}