.menu {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;

    &__name {
        font-family: $font_title;
        font-size: 30px;
    }

    &__list {
        display: flex;
        gap: 10px;
        font-family: $font_text;
        font-size: 20px;
    }
}