.project {
    text-align: center;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__row{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }
    &__title {
        font-family: $font_text;
        font-size: 16px;
        font-weight: 500;
        padding: 5px 0;
        @media (min-width: $breakpoint-tablet) {
            font-size: 20px;
        }
    }

    &__tecn {
        font-family: $font_title;
        background-color: black;
        color: white;
        padding: 2px 10px;
        border-radius: 10px;
    }
    &__position {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 75px;
        gap: 10px;
        @media (min-width: $breakpoint-tablet) {
            padding: 0 125px;
        }
        @media (min-width: $breakpoint-screen) {
            padding: 0 200px;
        }
    }
    &__icons {
        font-size: 20px;
        text-decoration: none;
        color: black;
        padding: 0 5px;
        @media (min-width: $breakpoint-tablet) {
            font-size: 25px;
        }
    }

}

.project__article {
    position: relative;
    transition: all .3s ease;
    width: 250px;
    margin-bottom: 10px;
    overflow-y: hidden;
        @media (min-width: $breakpoint-tablet) {
            width: 300px;
        }
        @media (min-width: $breakpoint-screen) {
            width: 500px;
        }
    
}

.project__article img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0,0,0,0.7);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.project__article img:last-child {
    position: absolute;
    width: 150px;
    height: 170px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: all .3s ease;
    opacity: 0;
    @media (min-width: $breakpoint-screen) {
            width: 250px;
            height: 280px;
        }
}

.project__article:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg,
        rgba(64, 58, 95, 0.6166841736694677) 13%,
        rgba(0, 0, 0, 0.7) 99%);
    transition: all .3s ease;
    opacity: 0;
}

.project__article:hover:before{
    opacity: 1;
}

.project__article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

.project__article:hover {
    transform: perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}

