.projects {
    padding-top: 50px;
    @media (min-width: $breakpoint-tablet) {
        padding-top: 100px;
    }
    &__title {
        font-family: $font_title;
        text-align: center;
        font-size: 30px;
        @media (min-width: $breakpoint-tablet) {
            font-size: 50px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 50px;

        @media (min-width: $breakpoint-tablet) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: $breakpoint-screen) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}